* {
  margin: 0;
}

header {
  border: 3px solid black;
  margin: 2%;
  padding-left: 2%;
  text-align: left;
  width: 96%;
  padding-top: 0.4%;
}

.top-nav-el {
  border-right: 3px solid black;
  padding-right: 2.2em;
}

.top-nav-a a {
  color: black;
}

.top-nav-a a:hover {
  color: blue;
}

#time-p {
  font-weight: bold;
}

input {
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}

.enter-btn {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  box-shadow: 4px 3px 3px black;
}

.book-storage {
  border: 3px solid black;
  padding: 2%;
  width: 40%;
}

.info {
  text-align: left;
}

footer {
  border: 3px solid black;
  margin: 2%;
  padding-left: 2%;
  text-align: left;
  position: fixed;
  width: 96%;
  bottom: 1%;
  padding-top: 0.4%;
}
