* {
  margin: 0;
}

.input {
  border-radius: 5px;
}

.enter-btn {
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
}

.info {
  list-style: circle;
  margin-top: 15px;
  text-align: left;
}
